# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
bin

# eclipse
.settings
.classpath
.project
target

# IntelliJ
.idea
*.iml

out
*.log

# 토큰 값을 저장하는 프로퍼티는 git에 포함하지 않는다.
vault-token.properties